{% extends 'main/base.html' %}
{% load staticfiles %}
{% load static from staticfiles %}
{% block extrahead %}
    <link href="{% static 'vtmultiscale/style_calendar.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
    <link href="{% static 'vtuniscale/visavail/css/visavail.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vtuniscale/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <div class="col-lg-12">
        <div class="col-lg-2">
            <div id="sp_map">
            </div>
        </div>
        <div class="col-lg-2">
            <div id="focus_context">
            </div>
        </div>
        <div class="col-lg-2">
            <div id="selected_stations">
            </div>
        </div>
        <div class="col-lg-2">
            <h5>Configurações Globais</h5>
            <label> Ano Inicial: </label>
            <select>
                <option>1966</option>
                <option>1965</option>
                <option>1964</option>
                <option>1963</option>
                <option>1962</option>
                <option>1961</option>
                <option>1960</option>
            </select>
            <br>
            <label> Ano Final: </label>
            <select>
                <option>1966</option>
                <option>1965</option>
                <option>1964</option>
                <option>1963</option>
                <option>1962</option>
                <option>1961</option>
                <option>1960</option>
            </select>
        </div>
        <div class="col-lg-4">
            <h5>Busca Estações</h5>
            <label>Seção: </label>
            <select id="cbx_section">
                <option>----</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
                <option>E</option>
                <option>F</option>
                <option>G</option>
            </select>
            <br>
            <label>Contenha dados do período, inicial: </label>
            <select>
                <option>----</option>
                <option>1966</option>
            </select>
            <label>final: </label>
            <select>
                <option>----</option>
                <option>1966</option>
            </select>
            <br>
            <label> Média de chuva: </label>
            <br>
            <label> Período: </label>
            <select>
                <option>----</option>
                <option>1966</option>
            </select>
            <select>
                <option>----</option>
                <option>12</option>
            </select>
            <select>
                <option>----</option>
                <option>23</option>
            </select>
            <select>
                <option>=</option>
                <option>></option>
                <option><</option>
                <option>>=</option>
                <option><=</option>
            </select>
            <input type="text"></input>unid.
            <br>
            <label> Qtd. de chuva: </label>
            <br>
            <label> Período: </label>
            <select>
                <option>----</option>
                <option>1966</option>
            </select>
            <select>
                <option>----</option>
                <option>12</option>
            </select>
            <select>
                <option value="0">----</option>
                <option value="1">23</option>
            </select>
            <select>
                <option>=</option>
                <option>></option>
                <option><</option>
                <option>>=</option>
                <option><=</option>
            </select>
            <input type="text"></input>unid.
            <br>
            <br>
            <input type="submit" value="Buscar"></input>
        </div>
    </div>

    <div id="exTab2" class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="active">
                <a  href="#tab1" data-toggle="tab">Multi-Scale</a>
            </li>
            <li><a href="#tab2" data-toggle="tab">Uni-Scale</a>
            </li>
            <li><a href="#tab3" data-toggle="tab">Horizon-Graph</a>
            </li>
        </ul>

        <div class="tab-content ">
            <div class="tab-pane active" id="tab1">
                <div id="charts" class=""></div>
            </div>
            <div class="tab-pane" id="tab2">
                <div id="chart_uni_scale" class=""></div>
            </div>
            <div class="tab-pane" id="tab3">
                <div id="chart_horizon_graph" class=""></div>
            </div>
        </div>
    </div>

<script src="{% static 'vtmultiscale/d3/d3.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'vtmultiscale/jquery/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static "vtmultiscale/ajax/jquery-3.1.1.min.js" %}"></script>
<script src="{% static 'vtmultiscale/d3-queue/d3-queue.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/topojson/topojson.min.js' %}" type="text/javascript"></script>
<!-- CUSTOM JAVASCRIPT -->
<script src="{% static 'vtmultiscale/aux_functions.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/model_classes.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/scales_and_formats.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/data_functions.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/vt_multi_scale.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/mapa.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/mapa_focus_context.js' %}" type="text/javascript"></script>
<script src="{% static 'vtuniscale/vendors/moment/moment-with-locales.min.js' %}" type="text/javascript"></script>
<script>
    moment.locale("pt-BR");
</script>
<script src="{% static 'vtuniscale/vendors/d3/d3.min.js' %}" charset="utf-8"></script>
<script src="{% static 'vtuniscale/visavail/js/visavail.js' %}"></script>
<script src="{% static 'vthorizongraph/horizon.js' %}"></script>
<script src="{% static 'vtuniscale/dataset.js' %}"></script>

<script>
    var chart = visavailChart().width(800); // define width of chart in px
    d3.select("#chart_uni_scale")
            .datum(dataset)
            .call(chart);
</script>

<script>
var width = 960,
    height = 30;

var horizon_chart = d3.horizon()
    .width(width)
    .height(height)
    .bands(1)
    .mode("mirror")
    //.mode("offset")
    .interpolate("basis");

var horizon_svg = d3.select("#chart_horizon_graph").append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("{% static 'vthorizongraph/unemployment.json' %}", function(error, data) {
  if (error) throw error;

  // Offset so that positive is above-average and negative is below-average.
  var mean = data.rate.reduce(function(p, v) { return p + v; }, 0) / data.rate.length;

  // Transpose column values to rows.
  data = data.rate.map(function(rate, i) {
    return [Date.UTC(data.year[i], data.month[i] - 1), rate - mean];
  });

  // Render the chart.
  horizon_svg.data([data]).call(horizon_chart);

});
</script>

<script>
var div_sp_map_id = "#sp_map";
var url_sp_map_full = "{% static 'vtmultiscale/maps/sp-state-full.json' %}";
var url_sp_map_simpl = "{% static 'vtmultiscale/maps/sp-state-simpl.json' %}";
var focus_context_id = "#focus_context";
var div_selected_stations_id = "#selected_stations";

function mudou(obj, a){
    console.log(obj);
    console.log(arguments);
    console.log("mudou");
}
var station_geo_array = {{stations_json|safe}}
var section_array = {{sections_json|safe}}
var sub_section_array = {{sub_sections_json|safe}}
var stations_selected_array = [];

var map1 = new Mapa(
        div_sp_map_id,
        url_sp_map_full,
        station_geo_array,
        section_array,
        sub_section_array
    );

var map2 = new MapaFocusContext(
        focus_context_id,
        url_sp_map_full,
        map1
    );
map1.addBrushMap(map2);

var map3 = new Mapa(
        div_selected_stations_id,
        url_sp_map_full,
        stations_selected_array,
        [],
        []
    );
function addSelectedStations(station){
    stations_selected_array.push(station);
    document.getElementById(div_selected_stations_id.substring(1)).innerHTML="";
    map3 = new Mapa(
            div_selected_stations_id,
            url_sp_map_full,
            stations_selected_array,
            [],
            []
        );
    zoomIn();
};

function zoomIn(){
    if(map3){
        bbox = getBBoxFromStationArray(stations_selected_array);
        trans_scale = map1.bboxToTransScale(
            [
                map3.projection([bbox[0],bbox[1]])[0],
                map3.projection([bbox[0],bbox[1]])[1],
                map3.projection([bbox[2],bbox[3]])[0],
                map3.projection([bbox[2],bbox[3]])[1]
            ]
        );
        translate = trans_scale[0];
        min_scale = trans_scale[1];
        map3.g.transition()
            .duration(750)
            .attr(
                "transform",
                "translate("+translate+")scale("+min_scale+")"
        );
    }
}
function createHtmlChart(nmb, father){
    var chart_aux = document.createElement("div");
    chart_aux.id = "chart"+nmb;
    chart_aux.className = "chart col-lg-4";
    father.appendChild(chart_aux);
    return chart_aux;
}
//createHtmlChart(8, document.getElementById("charts"));
var chart_to_draw = "#chart0";
var current_chart = null;
var current_chart_div = null;

function addChart(station){
    var chart_array = document.getElementsByClassName("chart");
    var nmb = chart_array.length;
    current_chart_div = createHtmlChart(nmb, charts);
    chart_to_draw = "#"+current_chart_div.id;
    d3.select(chart_to_draw).datum(function(){return station});
    getYears(station, [1990,1996]);
    addSelectedStations(station);
}
function drawCalendar(d){
    current_chart_div.innerHTML += loadChartInfo(current_chart_div.id, 1);
    setNewIndex();
    current_chart = new VtMultiScale(chart_to_draw, [1990,1996], d);
}

var getYears;
$(document).ready(function(){
	var data_years = 'banana';
    var test_promise;
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    getYears = function get_years(station, year_range) {
        test_promise = $.ajax({
            url: '{% url 'vtmultiscale:get_year' %}',
            type: 'post',
            data: {
                    'station_id': station["id"],
                    'year_ini':year_range[0],
                    'year_end':year_range[1]
            },
            dataType: "json",
            success: drawCalendar,
            error: function(data) {
                console.log('Got an error ');
            }
        });
    }
});

function loadChartInfo(chart_id, length_charts){
    var chart_info = '\
                <div class="col-lg-6">\
                <h6> Configurações Locais </h6>\
                <label>Posição: </label>\
                <select class="select_pos" \
                    onchange="swapChart(this,'+chart_id+')">\
                </select>\
                <br>\
                <label>Seção: </label>\
                <select>\
                    <option>A</option>\
                </select>\
                <br>\
                <label>Estação:</label>\
                <select>\
                    <option>A3-259</option>\
                </select>\
                <br>\
                <label> Ano Inicial: </label>\
                <select>\
                    <option>1960</option>\
                </select>\
                <br>\
                <label> Ano Final: </label>\
                <select>\
                    <option>1966</option>\
                </select>\
                <input type="submit" value="Atualizar"></input>\
                <h6>Meta Informações</h6>\
                <label>nome: </label> ARACAJU\
                <br>\
                <label>cidade: </label> ARACAJU\
                <br>\
                <label>bacia: </label> ARACAJU\
                <br>\
                <label>latitude: </label> -14,90\
                <br>\
                <label>longitude: </label> -54,90\
                <br>\
                <label>altitude: </label> 500\
                <br>\
                <label>Período dos dados: </label> 1930 - 1997\
                <br>\
                <label>anos de consistência: </label> 22\
                <br>\
                <label>intervalo de consistência: </label> [1930, 1931, 1939]\
                <br>\
                <label>total de chuva: </label> 1231233\
                <br>\
                <label>média de chuva: </label> 30\
                <br>\
                <label>qtde. de dias: </label> 123131\
                <br>\
                <label>qtde. de dias nulos: </label> 123\
                <br>\
                </div>\
                '
    return chart_info;
};

function setNewIndex(){
    updatePosOptions();
    selections = document.getElementsByClassName("select_pos");
    selection = selections[selections.length-1];
    selection.selectedIndex = selections.length-1;
}
function updatePosOptions(){
    selections = document.getElementsByClassName("select_pos");
    console.log(selections[0]);
    for (var i=0; i<selections.length; i++){
        updateSelectionOptions(selections[i], selections.length);
        selections[i].selectedIndex = i;//.selectedIndex = i;
        console.log(i);
    }
};

function updateSelectionOptions(selection, length){
    content_html = "";
    aux_selected_index = selection.selectedIndex;
    for (var i=0; i<length; i++){
        content_html+='\
                    <option value="'+i+'">'+i+'</option>\
            '
    }
    selection.innerHTML = content_html;
    selection.selectedIndex = aux_selected_index;
};

function swapChart(obj, chart1){
    var charts_container = document.getElementById("charts");
    var chart2 = charts_container.children[obj.selectedIndex];
    exchangeElements(chart1, chart2);
    updatePosOptions();
};

function exchangeElements(element1, element2)
{
    var clonedElement1 = element1.cloneNode(true);
    var clonedElement2 = element2.cloneNode(true);

    element2.parentNode.replaceChild(clonedElement1, element2);
    element1.parentNode.replaceChild(clonedElement2, element1);

    return clonedElement1;
}
</script>
{% endblock %}
