{% extends 'main/base.html' %}
{% load staticfiles %}
{% load static from staticfiles %}
{% block extrahead %}
    <link href="{% static 'vtmultiscale/style_calendar.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
    <link href="{% static 'vtuniscale/visavail/css/visavail.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vtuniscale/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vthorizongraph/horizon.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="col-lg-2">
            <div id="sp_map">
            </div>
        </div>
        <div class="col-lg-2">
            <div id="focus_context">
            </div>
        </div>
        <div class="col-lg-2">
            <div id="selected_stations">
            </div>
        </div>
        <div class="col-lg-2">
            <div id="second_focus_context">
            </div>
        </div>
        <div class="col-lg-4">
            <h4>Busca Estações</h4>
            <form id="search_station_form">
            <h6>Contém dados do Período</h6>
            <label>Ano inicial: </label>
            <input id="year_ini" type="text">
            <label>Ano final: </label>
            <input id="year_end" type="text">
            <br>
            <h6>Média de chuva</h6>
            <label> Escala: </label>
            <select id="time_scale">
                <option>Anual</option>
                <option>Mensal</option>
                <option>Diaria</option>
            </select>
			<br>
            <label> Data: </label>
            <input id="average_date" type="date"></input>
            <select id="signal">
                <option>=</option>
                <option>></option>
                <option><</option>
                <option>>=</option>
                <option><=</option>
            </select>
            <input id="average" type="text"></input>unid.
            <br>
            <br>
            <div id="stations_found"></div>
            <input type="button" onClick="searchBtnClicked();" value="Buscar"></input>
            <input type="button" onClick="loadStations();" value="Carregar Encontrados"></input>
            <input type="button" onClick="clearStations();" value="Limpar Encontrados"></input>
            </form>
        </div>
    </div>

    <div id="exTab2" class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="active" style="">
                <a href="#tab1" data-toggle="tab" style="height:45px;">Uni-Scale
                    <label>Ordenar por:</label> <button onClick="orderStationsBy('lat')">Latitude &uarr;&darr;</button> <button onClick="orderStationsBy('long')">Longitude &uarr;&darr;</button> <button onClick="orderStationsBy('prefix')">Prefixo &uarr;&darr;</button>
                </a>
            </li>
            <li>
                <a href="#tab2" data-toggle="tab">Multi-Scale:
                <label> Ano Inicial: </label>
                <input id="ms_year_ini" type="text" value="1990"></input>
                <label> Ano Final: </label>
                <input id="ms_year_end" type="text" value="1996"></input>
                <button id="ms_update" onClick="updateMulti()"> Atualizar &#x21BB;</button>
                </a>
            </li>
            <li >
                <a href="#tab3" data-toggle="tab" style="height:45px;">Horizon-Graph</a>
            </li>
        </ul>
        <div class="tab-content ">
            <div class="tab-pane active" id="tab1">
                <div id="chart_uni_scale" class=""></div>
            </div>
            <div class="tab-pane" id="tab2">
                <div id="charts" class=""></div>
            </div>
            <div class="tab-pane" id="tab3">
                <div id="chart_horizon_graph" class=""></div>
            </div>
        </div>
    </div>

<script src="{% static 'vtmultiscale/d3/d3.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'vtmultiscale/jquery/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static "vtmultiscale/ajax/jquery-3.1.1.min.js" %}"></script>
<script src="{% static 'vtmultiscale/d3-queue/d3-queue.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/topojson/topojson.min.js' %}" type="text/javascript"></script>
<!-- CUSTOM JAVASCRIPT -->
<script src="{% static 'vtmultiscale/aux_functions.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/model_classes.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/scales_and_formats.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/data_functions.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/vt_multi_scale.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/mapa.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/mapa_focus_context.js' %}" type="text/javascript"></script>
<script src="{% static 'vtuniscale/vendors/moment/moment-with-locales.min.js' %}" type="text/javascript"></script>
<script>
    moment.locale("pt-BR");
</script>
<script src="{% static 'vtuniscale/vendors/d3/d3.min.js' %}" charset="utf-8"></script>
<script src="{% static 'vtuniscale/visavail/js/visavail.js' %}"></script>
<script src="{% static 'vthorizongraph/horizon.js' %}"></script>
<script src="{% static 'vtuniscale/dataset.js' %}"></script>
<script src="{% static 'vtuniscale/vt_uni_scale.js' %}"></script>



<script>
var width = 960,
    height = 30;

var horizon_chart = d3.horizon()
    .width(width)
    .height(height)
    .bands(3)
    .mode("mirror")
    //.mode("offset")
    .interpolate("basis");



</script>

<script>
var div_sp_map_id = "#sp_map";
var url_sp_map_full = "{% static 'vtmultiscale/maps/sp-state-full.json' %}";
var url_sp_map_simpl = "{% static 'vtmultiscale/maps/sp-state-simpl.json' %}";
var focus_context_id = "#focus_context";
var second_focus_context_id = "#second_focus_context";
var div_selected_stations_id = "#selected_stations";

function mudou(obj, a){
}
var station_geo_array = {{stations_json|safe}};
var section_array = [];//{{sections_json|safe}}
var sub_section_array = [];//{{sub_sections_json|safe}}
var stations_found_array = [];
var stations_selected_array = [];
var order_field = 'prefix';
var order_way = false;

vt_uni_scale_chart = new VtUniScale("#chart_uni_scale", station_geo_array);

function getStationById(station_array, id){
    for (var i=0; i<station_array.length; i++){
        var station = station_array[i];
        if (station["id"] == id){
            return station;
        }
    }
    return null;
}
function addChartFromUni(id){
    var station = getStationById(station_geo_array, id);
	//addSelectedStations(station);
    if (station !=null){
        addChart(station);
    }
}
var data_set = []
for (var k=0; k<station_geo_array.length;k++){
    //data_set.push(station_geo_array[k]['uni_scale']);
	data_set.push(
		vt_uni_scale_chart.dataSetFromStation(station_geo_array[k]));
    //data_set.push(
	//	vt_uni_scale_chart.dataSetFromStationComplete(station_geo_array[k]));
}
var chart = visavailChart().width(800); // define width of chart in px
d3.select("#chart_uni_scale")
        .datum(data_set)
        .call(chart);

var map1 = new Mapa(
        div_sp_map_id,
        url_sp_map_full,
        station_geo_array,
        [],
        []
        //section_array,
        //sub_section_array
    );

var map2 = new MapaFocusContext(
        focus_context_id,
        url_sp_map_full,
        map1
    );
map1.addBrushMap(map2);

var map3 = new Mapa(
        div_selected_stations_id,
        url_sp_map_full,
        stations_selected_array,
        [],
        []
    );

var map4 = new MapaFocusContext(
        second_focus_context_id,
        url_sp_map_full,
        map3
    );

map1.addBrushMap(map2);

function addSelectedStations(station){
    stations_selected_array.push(station);
    document.getElementById(div_selected_stations_id.substring(1)).innerHTML="";
    map3 = new Mapa(
            div_selected_stations_id,
            url_sp_map_full,
            stations_selected_array,
            [],
            []
        );
    zoomIn();
};

function loadChartArray(station_array){
    for (var i=0; i<station_array.length; i++){
        var station = station_array[i];
        addChart(station);
    }
}
function setSelectedStations(stations){
    stations_selected_array = [];
    for (var i in stations){
        stations_selected_array.push(stations[i]);
        console.log(i);
    }
    document.getElementById(div_selected_stations_id.substring(1)).innerHTML="";
    document.getElementById("charts").innerHTML = "";
    document.getElementById("chart_horizon_graph").innerHTML = "";
    map3 = new Mapa(
            div_selected_stations_id,
            url_sp_map_full,
            stations_selected_array,
            [],
            []
        );
    zoomIn();
    loadChartArray(stations);
};


function orderStationsBy(field){
    if (order_field == field){
        order_way = !order_way;
    }
    else{
        order_way = false;
        order_field = field;
    }
    stationsOrdered(order_field, order_way);
}
function zoomIn(){
    if(map3){
        bbox = getBBoxFromStationArray(stations_selected_array);
        trans_scale = map1.bboxToTransScale(
            [
                map3.projection([bbox[0],bbox[1]])[0],
                map3.projection([bbox[0],bbox[1]])[1],
                map3.projection([bbox[2],bbox[3]])[0],
                map3.projection([bbox[2],bbox[3]])[1]
            ]
        );
        translate = trans_scale[0];
        min_scale = trans_scale[1];
        map3.g.transition()
            .duration(750)
            .attr(
                "transform",
                "translate("+translate+")scale("+min_scale+")"
        );
        // brushing the map4
        bbox = transScaleToBBox(
                translate[0],
                translate[1],
                min_scale,
                map3.width,
                map3.height
        );
        map4.g_brush.selectAll(".extent")
            .attr("x", bbox[0])
            .attr("y", bbox[1])
            .attr("width", bbox[2])
            .attr("height", bbox[3]);
    }
}
function createHtmlChart(nmb, father){
    var chart_aux = document.createElement("div");
    chart_aux.id = "chart"+nmb;
    chart_aux.className = "chart col-lg-4";
    father.appendChild(chart_aux);
    return chart_aux;
}
//createHtmlChart(8, document.getElementById("charts"));
var chart_to_draw = "#chart0";
var current_chart = null;
var current_chart_div = null;

function getYearRange(){
    var year_ini = parseInt(document.getElementById("ms_year_ini").value);
    var year_end = parseInt(document.getElementById("ms_year_end").value);
    return [year_ini, year_end];
}

function addChart(station){
    var chart_array = document.getElementsByClassName("chart");
    var nmb = chart_array.length;
    current_chart_div = createHtmlChart(nmb, charts);
    chart_to_draw = "#"+current_chart_div.id;
    d3.select(chart_to_draw).datum(function(){return station});
    getYears(station["id"], getYearRange());
    addSelectedStations(station);
}


function drawCalendar(d){
    current_chart_div.innerHTML += loadChartInfo(
            current_chart_div.id, 1, d["station"]);
    setNewIndex();
    current_chart = new VtMultiScale(chart_to_draw, getYearRange(), d);


    // HORIZONNNNN
    horizon_div = document.getElementById("chart_horizon_graph");
    console.log("CONTEUDO:  "+horizon_div.innerHTML)
    var margin = {top: 0, right: 10, bottom: 20, left: 0},
        width = 960 - margin.left - margin.right,
        height = 50 - margin.top - margin.bottom;
    if (horizon_div.innerHTML == ""){

        var x = d3.time.scale()
            .domain([
                        new Date(getYearRange()[0], 0, 1),
                        new Date(getYearRange()[1], 11, 31)
                    ])
            .range([0, width]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom")
            .tickSize(16, 0);

        var axis_svg = d3.select("#chart_horizon_graph").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
        .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        axis_svg.append("g")
            .attr("class", "x h_axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
        .selectAll(".tick text")
            .style("text-anchor", "start")
            .attr("x", 6)
            .attr("y", 6);
    }
    var horizon_svg = d3.select("#chart_horizon_graph").append("svg")
        .attr("width", width)
        .attr("height", height);

    var data = [];
    var year_array = d["year_list"];
    for(var i=0; i<year_array.length; i++){
        var year = year_array[i];
        var year_nmb = year["year"];
        var months_array = year["months"];
        for (var j=0; j<months_array.length; j++){
            var month = months_array[j];
            var days_array = month["days"];
            data.push([Date.UTC(year_nmb, j), month["average"]])
            /*
            for(var k=0; k<days_array.length; k++){
                var day = days_array[k];
                data.push([Date.UTC(year_nmb, j, k), day["day_average"]])
            }
            */
        }
    }

    /*
    // Offset so that positive is above-average and negative is below-averiage.
    var mean = data.rate.reduce(function(p, v) { return p + v; }, 0) / data.rate.length;

    // Transpose column values to rows.
    data = data.rate.map(function(rate, i) {
        return [Date.UTC(data.year[i], data.month[i] - 1), rate - mean];
    });
*/
    // Render the chart.
    //horizon_svg.data([[[Date.UTC(2000,10), 5], [Date.UTC(2000,11), 10]]]).call(horizon_chart);

    horizon_svg.data([data]).call(horizon_chart);
    var horizon_prefix = horizon_svg.append("g").selectAll("text")
        .data([d["station"]["prefix"]])
        .enter()
        .append("text");
    var textLabels = horizon_prefix
        .attr("x", function(d) { return 5; })
		.attr("y", function(d) { return 25; })
        .text( function (d) { return d; })
        .attr("font-family", "sans-serif")
        .attr("font-size", "12px")
        .attr("fill", "black");
}

function searchResult(d){
    stations_found_array = d['stations'];
	var stations_found = document.getElementById("stations_found");
	stations_found.innerHTML = ''+stations_found_array.length+' estações encontradas';
}

function setStationsUniScale(d){
    var stations = d['stations'];
    var data_set = []
    for (var k=0; k<stations.length;k++){
        data_set.push(
            vt_uni_scale_chart.dataSetFromStation(stations[k]));
    }
    var chart = visavailChart().width(800); // define width of chart in px
    document.getElementById("chart_uni_scale").innerHTML = ''
    d3.select("#chart_uni_scale")
            .datum(data_set)
            .call(chart);
}
function searchBtnClicked(){
	var stations_found = document.getElementById("stations_found");
	stations_found.innerHTML = 'Procurando...';
	var year_ini = document.getElementById("year_ini").value;
	var year_end = document.getElementById("year_end").value;
	var time_scale = document.getElementById("time_scale").value;
	var average_date = document.getElementById("average_date").value;
	var signal = document.getElementById("signal").value;
	var average = document.getElementById("average").value;
    searchStations(
				year_ini,
                year_end,
                average_date,
                time_scale,
                signal,
                average
    )
}
function loadStations(){
    setSelectedStations(stations_found_array);
}
function clearStations(){
    setSelectedStations([]);
}
var stationsOrdered;
var getYears;
var searchStations;

$(document).ready(function(){
	var data_years = 'banana';
    var test_promise;
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    stationsOrdered = function stations_ordered(order_field, order_way) {
        test_promise = $.ajax({
            url: '{% url 'vtmultiscale:stations_ordered' %}',
            type: 'post',
            data: {
                    'order_field': order_field,
                    'order_way':order_way
            },
            dataType: "json",
            success: setStationsUniScale,
            error: function(data) {
                console.log('Got an error ');
            },
			async: false
        });
    }
    getYears = function get_years(id, year_range) {
        test_promise = $.ajax({
            url: '{% url 'vtmultiscale:get_year' %}',
            type: 'post',
            data: {
                    'station_id': id,
                    'year_ini':year_range[0],
                    'year_end':year_range[1]
            },
            dataType: "json",
            success: drawCalendar,
            error: function(data) {
                console.log('Got an error ');
            },
			async: false
        });
    }
    searchStations = function search_stations(
				year_ini,
                year_end,
                average_date,
                time_scale,
                signal,
                average
				) {
        test_promise_2 = $.ajax({
            url: '{% url 'vtmultiscale:search_station' %}',
            type: 'post',
            data: {
				'year_ini': year_ini,
				'year_end': year_end,
                'average_date': average_date,
                'time_scale': time_scale,
                'signal': signal,
                'average': average

            },
            dataType: "json",
            success: searchResult,
            error: function(data) {
                console.log('Got an error ');
            }
        });
    }
	$("#search_station_form").on("submit", function(){
		var form = $(this);
		console.log("Deu submit");
	});
});

function loadChartInfo(chart_id, length_charts, station){
    var chart_info = '\
                <div class="col-lg-6">\
                <h6>Meta Informações</h6>\
                <label>Posição: </label>\
                <select class="select_pos" \
                    onchange="swapChart(this,'+chart_id+')">\
                </select>\
                <br>\
                <label>Prefixo:</label>\
                '+station["prefix"]+'\
                <br>\
                <label>nome: </label> '+station["name"]+'\
                <br>\
                <label>cidade: </label> '+station["city"]+'\
                <br>\
                <label>bacia: </label> '+station["basin"]+'\
                <br>\
                <label>latitude: </label> '+station["lat"]+'\
                <br>\
                <label>longitude: </label> '+station["long"]+'\
                <br>\
                <label>altitude: </label> '+station["alt"]+'\
                <br>\
                <label>Média de chuva: </label> '+station["average"]+'\
                <br>\
                <label>Período dos dados: </label> '+station["year_ini"]+'\
                - '+station["year_end"]+'\
                <br>\
                <label>Qtde. de dias nulos: </label> '+station["null_days"]+'\
                <br>\
                <label>Anos consistidos: </label> '+station["range"]+'\
                <br>\
                <label>Intervalo consistido: </label> \
                ['+station["consistency"].join(', ')+']\
                <br>\
                </div>\
                '
    return chart_info;
};

function setNewIndex(){
    updatePosOptions();
    selections = document.getElementsByClassName("select_pos");
    selection = selections[selections.length-1];
    selection.selectedIndex = selections.length-1;
}
function updatePosOptions(){
    selections = document.getElementsByClassName("select_pos");
    for (var i=0; i<selections.length; i++){
        updateSelectionOptions(selections[i], selections.length);
        selections[i].selectedIndex = i;//.selectedIndex = i;
    }
};

function updateSelectionOptions(selection, length){
    content_html = "";
    aux_selected_index = selection.selectedIndex;
    for (var i=0; i<length; i++){
        content_html+='\
                    <option value="'+i+'">'+i+'</option>\
            '
    }
    selection.innerHTML = content_html;
    selection.selectedIndex = aux_selected_index;
};

function swapChart(obj, chart1){
    var charts_container = document.getElementById("charts");
    var chart2 = charts_container.children[obj.selectedIndex];
    exchangeElements(chart1, chart2);
    updatePosOptions();
};

function exchangeElements(element1, element2)
{
    var clonedElement1 = element1.cloneNode(true);
    var clonedElement2 = element2.cloneNode(true);

    element2.parentNode.replaceChild(clonedElement1, element2);
    element1.parentNode.replaceChild(clonedElement2, element1);

    return clonedElement1;
}
function updateMulti(){
    console.log("ATUALIZA");
	setSelectedStations(stations_selected_array.slice());
}
</script>
{% endblock %}
