{% extends 'main/base.html' %}
{% load staticfiles %}
{% load static from staticfiles %}
{% block extrahead %}
    <link href="{% static 'vtmultiscale/style_calendar.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <div class="col-lg-12">
        <div id="sp_map">
        </div>
    </div>
    <div class="col-lg-3">
        <div class="col-lg-12">
            <div id="chart0" class="chart">
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="col-lg-12">
            <div id="chart1" class="clearfix chart">
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="col-lg-12">
            <div id="chart2" class="clearfix chart"></div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="col-lg-12">
            <div id="chart3" class="clearfix chart"></div>
        </div>
    </div>

<script src="{% static 'vtmultiscale/d3/d3.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'vtmultiscale/jquery/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static "vtmultiscale/ajax/jquery-3.1.1.min.js" %}"></script>
<script src="{% static 'vtmultiscale/d3-queue/d3-queue.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/topojson/topojson.min.js' %}" type="text/javascript"></script>
<!-- CUSTOM JAVASCRIPT -->
<script src="{% static 'vtmultiscale/model_classes.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/scales_and_formats.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/data_functions.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/draw_functions.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/mapa.js' %}" type="text/javascript"></script>

<script>
var div_sp_map_id = "#sp_map";
var url_sp_map_full = "{% static 'vtmultiscale/maps/sp-state-full.json' %}";
var url_sp_map_simpl = "{% static 'vtmultiscale/maps/sp-state-simpl.json' %}";

var station_geo_array = {{stations_json|safe}}
var section_array = {{sections_json|safe}}
var sub_section_array = {{sub_sections_json|safe}}
var map1 = new Mapa(
        div_sp_map_id,
        url_sp_map_full,
        station_geo_array,
        section_array,
        sub_section_array
    );
var chart_to_draw = "#chart0";
var current_chart = null;
function opa(){
    console.log("opaaaaaa");
    addChart();
}
function addChart(station){
    console.log("opaaaa");
    var chart_array = document.getElementsByClassName("chart");
    for (var i=0; i<chart_array.length; i++){
        var chart = chart_array[i];
        if (chart.children.length < 1){
            chart_to_draw = "#"+chart.id;
            break;
        }
    }
    getYears(station, [1990,1996]);
}
function drawCalendar(d){
    console.log("Drawing");
    console.log(chart_to_draw);
    current_chart = new VtMultiScale(chart_to_draw, [1990,1996], d);
}
var getYears;
$(document).ready(function(){
	var data_years = 'banana';
    var test_promise;
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    getYears = function get_years(station, year_range) {
        test_promise = $.ajax({
            url: '{% url 'vtmultiscale:get_year' %}',
            type: 'post',
            data: {
                    'station_id': station["id"],
                    'year_ini':year_range[0],
                    'year_end':year_range[1]
            },
            dataType: "json",
            success: drawCalendar,
            error: function(data) {
                console.log('Got an error ');
            }
        });
    }
});
</script>
{% endblock %}
