{% load staticfiles %}
{% load static from staticfiles %}
<!DOCTYPE html>
<meta charset="utf-8">
<style>

.state {
  fill: #ddc;
  fill-opacity: 0.1;
}

.state_contour {
  fill: none;
  stroke: black;
  stroke-linejoin: round;
}

</style>
<body>
    <div id="sp_map">
    </div>
<script src="{% static 'vtmultiscale/d3/d3.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/jquery/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/d3-queue/d3-queue.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/topojson/topojson.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vtmultiscale/mapa.js' %}" type="text/javascript"></script>
<script>
var div_sp_map_id = "#sp_map";
var url_sp_map_full = "{% static 'vtmultiscale/maps/sp-state-full.json' %}";
var url_sp_map_simpl = "{% static 'vtmultiscale/maps/sp-state-simpl.json' %}";
station_geo_array = []
/*
{% for station in stations %}
    station_geo_array.push(
            [{{station.long}}, {{station.lat}}]
        )
{% endfor %}
*/
    station_geo_array = {{stations_json|safe}}
    section_array = {{sections_json|safe}}
    sub_section_array = {{sub_sections_json|safe}}
var map1 = new Mapa(
        div_sp_map_id,
        url_sp_map_full,
        station_geo_array,
        section_array,
        sub_section_array
    );
</script>
