{% extends 'main/base.html' %}
{% load main_extras %}

{% block title %}AdotaBixo - Login{% endblock %}

{% block content %}


<div class="container main_body">
	<div class="row myMainBody"><!--mainBody-->
		<div class="col-sm-12">
	    <h1 class="page-header"> Faça seu login </h1>
	    	{% if user.is_authenticated %}
				<h3>Bem vindo {{ user.username }}</h3>
			{% else %}
				<!--<form action="." method="post">{% csrf_token %}
					{{ form.as_p }}
					<input type="hidden" name="next" value="{{ next }}" />
					<p><input type="submit" value="Enviar" /></p>
				</form>-->
				<div class="col-lg-12">
					<div class="row">
						<div class="col-xs-4 col-xs-offset-4">
							{% load bootstrap3 %}

							{# Load CSS and JavaScript #}			

							{# Display django.contrib.messages as Bootstrap alerts #}
							{% bootstrap_messages %}

							{# Display a form #}
							<form action="." method="post" class="form-horizontal">
							  {% csrf_token %}
							  {% bootstrap_form form %}
							  {% buttons %}
							  <input type="hidden" name="next" value="{{ next }}" />
							  <div class="col-lg-12 center-block">
							    <button type="submit" class="btn btn-success center-block">
							      Entrar
							    </button>
							  </div>
							  {% endbuttons %}
							</form>
						</div>
					</div>
				</div>
			{% endif %}
	    <br>
	</div>
</div>
</div>




{% endblock %}

